/*import Raleway font*/
@import url(https://fonts.googleapis.com/css?family=Raleway);
*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  padding-top: 50px;
}
.parallax-window {
    min-height: 500px;
    background: transparent;
}
/*section#welcome{
  height: 750px;
  width: 100%;
  background: white;
}*/
.navbar-default{
  background: black;
}
ul{
  padding-left: 3%;
